@model Core.Entities.Tire
<div class="card">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">Type: @Model.Type</p>
        <a href="#" class="btn btn-success">Buy</a>
    </div>
</div>